<div class="container">
    <div class="row" style="text-align: center;">
        <div class="heading"> About Me </div>
        <div class="col-md-4">
            <div class="aboutImg">
                <img src="../../assets/images/about.JPG" class="my-pic">
            </div>
        </div>
        <div class="col-md-8">
            <div class="aboutPara">
                <div class="subHeading">{{ about?.intro }}</div>
                <div>
                    {{ about?.details }}
                </div>
                <div class="buttons">
                    <button (click)="downloadFunc()" class="btn btn-danger">Download CV</button>
                </div>
            </div>
        </div>
    </div>
</div>