<div class="container-fluid">
    <div class="row" style="text-align: center;">
        <div class="heading"> About Me </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="margin-top: 50px;">
            <div class="aboutImg">
                <img style="border: 1px solid white; border-radius: 50px;" src="./../../assets/images/about.JPG" class="my-pic">
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="margin-top: 50px;">
            <div class="aboutPara">
                <div class="containerForTypewriter">
                    <div class="typed-out">{{ about?.intro }}</div>
                </div>
                <br/><br/>
                <div style="text-align: justify;">
                    {{ about?.details }}
                </div>
                <br/>
                <div class="buttons">
                    <button (click)="downloadFunc()" class="btn btn-danger">Download CV</button>
                </div>
            </div>
        </div>
    </div>
</div>