<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1>Contact Me</h1>
            <div class="col-md-6">
                <div>Get in Touch</div>
                <table>
                    <tr *ngFor="let info of contactInfo">
                        <td>
                            <i [ngClass]="info.icon"></i>
                        </td>
                        <td>
                            {{info.property}}
                            {{info.value}}
                        </td>
                    </tr>
                </table>
            </div>            
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>