<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1>Contact Me</h1>
            <div class="col-md-6">
                <div>Get in Touch</div>
                <table>
                    <tr>
                        <td><i class="bi bi-person-fill"></i></td>
                        <td>
                            <div>Name</div>
                            <div>Manan Kataria</div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-pin-map-fill"></i></td>
                        <td>
                            <div>Address</div>
                            <div>Delhi, India</div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-envelope-fill"></i></td>
                        <td>
                            <div>Email</div>
                            <div>katariamanan1997@gmail.com</div>
                        </td>
                    </tr>
                </table>
            </div>            
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>