<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="infoContainer">
                <div class="infoContainer2">
                    <div class="hello">Hi, I am</div>
                    <div class="name">{{ user.name }}</div>
                    <div class="about">{{ user.about }}</div>
                    <div>
                        This is my official portfolio website <br/>
                        which shows all the work I have done.
                    </div>
                    <br/>
                    <div class="buttons">
                        <button class="btn btn-primary">{{ user.btn1_text }}</button>&nbsp;
                        <button class="btn btn-primary">{{ user.btn2_text }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img class="myimg" src="../../assets/images/about.JPG">
            </div>
        </div>
    </div>
</div>