<div class="container-fluid" style="height: 90%;">
    <div class="row" style="height: 100%">
        <div class="col-md-2">
            <div class="row"><i (click)="iconClicked('facebook')" class="bi bi-facebook icons"></i></div>
            <div class="row"><i (click)="iconClicked('linkedin')" class="bi bi-linkedin icons"></i></div>
            <div class="row"><i (click)="iconClicked('instagram')" class="bi bi-instagram icons"></i></div>
        </div>
        <div class="col-md-4">
            <div class="infoContainer">
                <div class="infoContainer2">
                    <div class="hello"> {{home?.greetings}} </div>
                    <div class="name">{{ home?.name }}</div>
                    <div class="containerForTypewriter">
                        <div class="typed-out">{{home?.about}}</div>
                    </div>
                    <br/><br/>
                    <div class="buttons">
                        <button *ngIf="home?.cvLink" (click)="downloadFunc()" class="btn btn-danger"> Download CV </button>&nbsp;
                        <button *ngIf="home?.portfolio" (click)="downloadPortfolio()" class="btn btn-danger"> Download Portfolio </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="imgBox" style="height: 100%;">
                <img style="display:inline-block; height: 100%; width: 97%;" [src]="home?.pic">
            </div>           
        </div>
    </div>
</div>