.hello {
    font-size: large;
    font-weight: bold;
}

.about {
    font-size: medium;
    font-weight: bold;
}

.name {
    font-size: 50px;
    font-weight: bolder;
}

.infoContainer {
    position: relative;
    height: 100%;

}

.infoContainer2 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icons {
    font-size: 30px;
    margin-top: 50%;
    cursor: pointer;
}

.myimg{
    animation: 
        changeShape 2s steps(20, end) infinite
}

.imgBox img{
    position: relative;
    width: 100%;
    height: 100%;
    /* animation: animateUser 4s linear infinite; */
}

@keyframes animateUser {
    50%{
        right: 10px;
    }
}

@keyframes changeShape {
    from {
        }    

    to {
        
    }
}