.hello {
    font-size: medium;
    font-weight: bold;
}

.about {
    font-size: medium;
    font-weight: bold;
}

.name {
    font-size: 50px;
    font-weight: bolder;
}

.infoContainer {
    position: relative;
    height: 100%;

}

.infoContainer2 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.myimg {
    border: 1px solid white;
    border-radius: 10px;
}

.icons {
    font-size: 30px;
    margin-top: 100px;
    cursor: pointer;
}

.myimg{
    animation: 
        changeShape 2s steps(20, end) infinite
}

@keyframes changeShape {
    from {
        }    

    to {
        
    }
}